*{
  margin: 0;
  padding: 0;
}
body{
  background:#85e9be;
  font-family: Arial, Helvetica, sans;

}


/*----------menu1---------*/
#menu{
  width: 100%;
  height: 110px;
  background-color: #fff;
}
#menu img{
  width: 310px;
  height: 82px;
  padding-top: 14px;
  padding-left: 48px;
}

.menu_scroll{
  width: 100%;
  height: 40px;
  background:#85e9be;
  position: fixed;
  margin-top: -110px;
}

#men_main{
  float:right;
  width: 267px;
}
#me{
  margin: 18px auto;
}
#me li{
  float: left;
  list-style: none;
  margin: 10px;
  padding: 10px;
}
#me a{
  text-decoration: none;
  color:  #ace600;
  font-size: 16px;
}
#me a:hover{
  color:  #86b300;
}
#me img{
  height: 30px;
  width: 30px;
  position: absolute;
  margin-top: -10px;
}
/*----------*/

/*----------menu2-----------*/
.main_menu{
  background: rgba(76, 175, 80, 0.5);
  width: 100%;
  height: 0px;
  float: right;
  padding-right: 0px;
}
.main_menu span{
  margin: 100px auto;
  display: table;
  font-size: 40px;
  color: #fff;
  text-align: center;
  background-color: rgba(76, 175, 80, 0.5);
}

#menu_a{
  float:right;
  margin-right: 45px;
}

#menu_a li{
  list-style: none;
  float: left;
  margin: 10px;
}
#menu_a a{
  text-decoration: none;
  color: #ffffff;
}
#menu_a a:hover{
  color:  #ffff00;
}
.serc{
  display: table;
  margin: -50px auto;
  }
.serc input[type=search]{
  height: 40px;
      width: 270px;
      border: none;
      font-size: 14px;
      padding-left: 10px;
      border-left: 12px solid rgba(4, 188, 218, 0.49);
      background-color: rgba(245, 245, 244, 0.93);
    }
.serc input[type=submit]{
  height: 41px;
    width: 56px;
    background: rgb(20, 175, 168);
    border: none;
    margin-left: -5px;
    font-size: 15px;
}

/*---------------------------------*/

/*------slider-----*/
.contain_slider{
  width: 100%;
  height: 500px;
  position: relative;
}
.contain_slider img{
  width: 100%;
  height: 500px;
  position:absolute;
  top: 0px;
  left: 0px;
  z-index:-2;
}
.contain_slider .top{
  z-index: -1;
}
/*---slid_menu--------*/
.slid_menu{
  display: none;
  width: 300px;
  height: 400px;
  background: #fff;
  margin-top: -400px;
}
/*----------cibtain moto-------*/
.contain_moto{
  width: 100%;
  padding: 20px 0 20px 0;
  background-color: #fff;
}
.contain_moto span{
  text-align: center;
  font-size: 30px;
  color: #262626;
  margin: 10px auto;
  display: table;
}
h4{
  text-align: center;
  color: #8c8c8c;
}
.moto{
  width: 93%;
  height: 300px;
  display: table;
  margin: 1px auto;
}
.moto_isi{
  width: 393px;
  height: 278px;
  float: left;
  margin: 1%;
  border-top: 1px solid #b3b3b3;
}
.moto_img{
  display: table;
  margin: 20px auto;
  width: 100px;
  height: 100px;
}
.moto_img img{
  width: 1px;
  height: 9px;
}
.moto_txt{
  width: 300px;
  display: table;
  margin: 0px auto;
}
.moto_txt h2,.moto_txt p{
  text-align: center;
  margin: 10px auto;
  display: table;
  color: #595959;
}
.moto_txt h2:hover, p:hover{
  color: #1a1a00;
}
/*-------------------------------*/
/*==========contain isi home===========*/
  .contain_isi_home{
    width: 100%;
    height: 600px;
    background: #fff06d;
    padding-top: 35px;
  }
  .contain_isi_home h1, h4{
    text-align: center;
    color: #595959;
    margin: 10px auto;
  }
  .cont_isi_home{
    display: table;
    margin: 25px auto;
    width: 92%;
    height: 460px;
  }
  .cont_isi{
    width: 608px;
    height: 461px;
    float: left;
    margin: 0.5%;
  }
  .cont_table_isi img{
    width:40px;
    height:40px;
  }
  .cont_table_isi td{
    padding: 10px;
  }
  .cont_table_isi h2, p{
    text-align: left;
    color: #333333;
  }
  .cont_table_isi table{
    height: 400px;
  }
  .con_img_isi img{
    display: table;
    margin: 20px auto;
    width: 580px;
    height: 411px;
  }
/*=====================================*/
/*==============con suport============*/
.contain_suport{
  width: 100%;
  height: 260px;
  background: #ffffff;
  padding-top: 50px;
}
.contain_suport h1, .contain_suport p{
  text-align: center;
  color: #333333;
}
.contain_suport_isi{
  display: table;
  margin: 30px auto;
  width: 90%;
  height: 100px;
}
.suport_isi_img{
  width: 189px;
  height: 92px;
  float: left;
  margin: 0.5%;
}
.suport_isi_img img{
  width: 200px;
  height: 90px;
}
/*====================================*/
/*=================footer==============*/
.footer_home{
  width: 100%;
  height: 300px;
  padding-top: 30px;
}
.menu_footer{
  display: table;
  margin: 0px auto;;
  width: 90%;
  height: 230px;
}
.isi_footer{
  float: left;#fff
  margin: 1px;
  width: 401px;
  height: 300px;
}
.isi_footer p {
  color: #808000;
  font-size: 25px;
  text-align: center;
}
.isi_footer span{
  color: #808000;
}
.isi_footer iframe{
  width: 100%;
  height: 164px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.isi_footer ul{
  margin: 20px;
}
.isi_footer li{
  list-style: none;
  margin: 10px;
}
.isi_footer a{
  text-decoration: none;
  color: #666600;
}
.isi_footer a:hover{
  color: #fff06d;
}
.sosial_footer{
  width: 100%;
  height: 50px;
  margin-top: 30px;
}
#me_footer li{
  list-style: none;
  float: left;
  padding: 10px;
}
#me_footer img{
  height: 30px;
  width: 30px;
  position: absolute;
  margin-top: -10px;
}

.copyright{
  width: 100%;
  height: 25px;

  background: #fff;
}
.copyright h5{
  text-align: center;
}
/*================================*/
